.header-main {
  position: relative;
  display: flex;
  height: 64px;
  background-color: #fff;
  color: #2d2d2d;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 0 16px;
}

.header-main__logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

.header-main__logo--image {
  max-height: 40px;
  min-height: 40px;
}

.header-main__logo--text {
  margin-left: 0.75em;
  width: 100%;
  color: #f23440;
}

.header-main__logo--text__lighten {
  color: #f23441b7;
}

.header-nav {
  display: flex;
  margin: 0;
  align-items: center;
}

.header-nav__item {
  height: 100%;
  margin: 0 16px;
}
